@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html , body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 524px;
    width: 260px;
    background: url('../imagens/frame-iphone4.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 68px;
    left: 19px;
    width: 221px;
    height: 392px;
}

section#redes-sociais {
    text-align: right;
    padding-top: 30px;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #0000004c;
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid white;
    transform: translate(-2px, -2px);
    transition: transform 0.3s, border 0.3s;
    box-shadow: 3px 3px 8px #0000004c;

}

@media(max-width: 600px) {
    body {
        background: url('https://cdn.pixabay.com/photo/2015/12/26/05/53/wood-1108307_1280.jpg') no-repeat top center;
    }
}

